/*ゲーム画面 デザイン設定*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin-top: 0;
}

.h1{
  color: #009999;
  text-align: center;
  font-size: 40px;
  text-shadow: 3px 3px 1px #999999;
  margin: 0;
}

.h2{
  margin: 0;
  color:#008080;
  text-align: center;
  font-size:  30px;
  text-shadow: 3px 3px 1px #999999;

}

canvas {
    margin: 100;
    display: block;
    margin: auto;
    border: 3px solid #BBBBBB;
    background-color: #FFFFEE;
}

.wraper {
  background-color: #F0F8FF;
  height: 100%;
  background-image: url("lgi01a201408041500.jpg");

}
