/*ゲーム画面 デザイン設定*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, p {
  margin: 0;
  color: #B0C4DE;
  text-align: center;
}

canvas {
    display: block;
    margin: auto;
    border: 3px solid #B0C4DE;
    background-color: #FFFFF0;
}

.wraper {
  background-color: #F0F8FF;
  height: 100%;
}
